<ion-header class="bg-primary" >
  <ion-toolbar class="toolbar">
    <div slot="start">
      <div *ngIf="user$ | async as user" class="user_name">{{user.displayName}}</div>
    </div>

    <div slot="end">

      <div *ngIf="user$ | async as user; else loginButton">
        <div class="logout_btn">
          <ion-button (click)="logout()" class="">Logout</ion-button>
        </div>
      </div>
      
      <ng-template #loginButton>
        <div class="login_btn">
          <ion-button (click)="loginRedirect()">Login</ion-button>
        </div>
      </ng-template>

    </div>
</ion-toolbar>
</ion-header>
