<ion-header class="bg-primary" >
  <ion-toolbar class="toolbar">
    <div class="header-text" slot="start">
      <div *ngIf="user$ | async as user" class="user_name">{{user.displayName}}</div>
    </div>

    <ion-buttons slot="primary">

      <div *ngIf="createNewRouteArray != null">
        <ion-button  [routerLink]="createNewRouteArray">
          <ion-icon name="add" slot="icon-only"></ion-icon>
        </ion-button>
        </div>

      <div *ngIf="user$ | async as user; else loginButton">
        <div class="logout_btn">
          <ion-button (click)="logout()" class="">
            <ion-icon name="log-out-outline" size="large"></ion-icon>
          </ion-button>
        </div>
      </div>
      
      <ng-template #loginButton>
        <div class="login_btn">
          <ion-button (click)="loginRedirect()">
            <ion-icon name="log-in-outline" size="large"></ion-icon>
          </ion-button>
        </div>
      </ng-template>

    </ion-buttons>

</ion-toolbar>
</ion-header>
