ion-item.cos-item {
    background-color: rgba($color: #1f6b97, $alpha: 1.0);
}

ion-item.cos-item.detailed{
    margin: 10px;
    border-radius: 6px;
    background-color: rgba($color: #1f6b97, $alpha: 1.0);
    position: relative;
    
    .cosplay {
        padding: 10px 0px 10px 0px;
        display: flex;
        flex-direction: row;

        .image ion-thumbnail {
            --size: 60px;
            --border-radius: 14px;
        }
        .info {
            padding: 0px 10px;
            width: 100%;
            text-align: left;
            h3 {
                margin: 0!important;
            }
            .delete_btn {
                position: absolute;
                right: 0px;
                top: 0px;
            }
            .details {
                .series, .id {
                    color: #cdcfcf;
                }
            }
        }
    }

    
    
}