.container {
  text-align: center;
}

.container strong {
  font-size: 20px;
  line-height: 26px;
}

.container p {
  font-size: 16px;
  line-height: 22px;

  color: #8c8c8c;

  margin: 0;
}

.container a {
  text-decoration: none;
}

.cos_list {
}

  .cos {
 
  }


/* For Mobile Portrait View */
@media screen and (max-device-width: 480px) {
  
}

/* For Tablet View */
@media screen and (min-device-width: 768px)
and (max-device-width: 1024px) {
 
}

/* For Desktop View */
@media screen and (min-width: 1024px) {
 
}

@media only screen and (min-width: 1400px) {
  
}
