<app-header [createNewRouteArray]="['/home']"></app-header>

<ion-content>
  <ion-grid class="container">
    <div class="col-12">
      <div class="test_add_cos">
        <ion-button (click)="addCosTest()">Add Cos Test</ion-button>
      </div>

      <div class="cos_list row" *ngIf="!isLoading">
        <app-cos-item class="cos" class="col-12 col-md-6" *ngFor="let cos of cosplays" [cosplay]="cos"></app-cos-item>
      </div>
      <div class="" *ngIf="isLoading">
        <ion-spinner class="loading_spinner"></ion-spinner>
      </div>
    </div>
  </ion-grid>
</ion-content>