<app-header></app-header>

<ion-content>
  <ion-grid class="container">
    <ion-progress-bar type="indeterminate" *ngIf="actionInProgress"></ion-progress-bar>

    <div class="col-xl-6 offset-xl-3 col-lg-8 offset-lg-2 col-md-10 offset-md-1 col-12">
      <div class="test_add_cos">
        <ion-button color="button-add" (click)="addCosTest()">Add Cos Test</ion-button>
        <ion-button color="button-add" (click)="takePhoto()">Take photo</ion-button>
      </div>

      <div class="cos_list" *ngIf="!isLoading">
        <ion-col size="12" 
        size-md="10" offset-md="1" 
        size-lg="6" offset-lg="3"
        size-xl="6" offset-xl="3"
        class="ion-text-center">
          <ion-list lines="none" *ngFor=" let cos of cosplays$ | async" class="ion-no-padding items">
             {{cos.name}}
            <app-cos-item (click)="goToCosDetails(cos.id)" class="cos" class="col-12" [cosplay]="cos"></app-cos-item>
          
          </ion-list>
        </ion-col>
      </div>
      <div class="" *ngIf="isLoading">
        <ion-spinner class="loading_spinner"></ion-spinner>
      </div>

      <ion-fab slot="fixed" vertical="bottom" horizontal="end">
        <ion-fab-button (click)="goToNewCos()">
          <ion-icon name="add-outline"></ion-icon>
        </ion-fab-button>
      </ion-fab>

    </div>
  </ion-grid>

  

</ion-content>