/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@import "./styles/base.scss";

body {
   height:100%;
   padding:0%;
   background-image: none;
}

.loading_spinner {
   margin: 10px;
}

ion-list {
   background-color: transparent!important;
}

ion-item  {
   --ion-item-background: transparent!important;
   --ion-background-color: transparent!important;
}

ion-col {
   --background: transparent!important;
}

@import "./styles/cosplay-item.scss";
